<!-- Page de la réunion -->
<% if (page === 'meeting' && user) { %>
<h2>Réunion</h2>
<p>Bienvenue dans la réunion <strong><%= meeting.title %></strong> (code : <%= meeting.code %>)</p>

<h3>Participants :</h3>
<ul>
  <% participants.forEach(function(participant) { %>
  <li><%= participant.first_name %> <%= participant.last_name %> - <%= participant.response %></li>
  <% }); %>
</ul>
<p>
  Partagez ce lien pour rejoindre la réunion :
  <a href="/meeting/code/<%= meeting.code %>">Lien de la réunion</a>

</p>

<!--<form action="/join-meeting/<%= meeting.id %>" method="POST"></form> -->

<a href="/dashboard" class="button">Quitter cette réunion</a>
<% } %>
